*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box{
    width: 400px;
    height: 400px;
    background-color: rgba(9, 9, 151, 0.758);
    padding: 20px 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px grey;
    position: absolute;
    top: 5rem;
}

form{
    margin: 2rem 0 1rem 0;
    gap: 5px;
}
form select,button,input{
    padding: 5px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
form input{
    border: 1px solid lightgray;
}
.dropdown{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin :5px;

}
.from,.to{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}
#msg{
    margin: 20px 0 20px 0;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(154, 11, 11, 0.144);
    border-radius: 10px;
}
button{
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    
}
button:hover{
    border: 1px solid grey;
    transform: scale(1.3);
}